@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap');

:root {
    --color1: rgb(35, 39, 40);
    --color2: rgb(9, 238, 146);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
    background-color: var(--color1);
    font-family: 'Rajdhani', sans-serif;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 640px;
    width: 90%;
    background-color: var(--color1);
    padding: 20px;
}

.relogio {
    font-size: 8.5em;
    font-weight: 600;
    color: var(--color2);
    transition: all 0.5s ease;
    word-break: break-word;
}

.button {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.button button {
    border: none;
    background: var(--color1);
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    border-radius: 50%;
    background-color: var(--color2);
    color: #fff;
}

.pausado {
    color: red;
}

body.modoPausado .button button:hover {
    border: 1px solid red;
    background-color: red;
    color: #fff;
}

/* Responsividade */
@media (max-width: 600px) {
    .relogio {
        font-size: 4em;
    }

    .button {
        justify-content: center;
    }

    .button button {
        width: 50px;
        height: 50px;
        font-size: 24px;
    }
}

@media (max-width: 350px) {
    .relogio {
        font-size: 3em;
    }

    .button button {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}
